@model IEnumerable<SAC_Web_Application.Models.ClubModel.Members>

@{
    ViewData["Title"] = "AnnualResetConfirm";
}

<h2 class="text-capitalize col-md-offset-2">Confirm Annual Reset</h2>

<h4 class="text-capitalize col-md-offset-2">Are You Sure You want To Proceed?</h4>

<h3 class="text-danger text-uppercase col-md-offset-2">This Process Cannot Be Reversed!</h3>

<a asp-action="Index" class="btn btn-primary col-md-offset-2">CANCEL</a>
<a asp-action="AnnualReset" class="btn btn-danger col-md-offset-2">RESET</a>


