@model SAC_Web_Application.Models.ClubModel.Members

@{
    ViewData["Title"] = "Annual Reset";
}

<h2 class="text-success col-md-offset-2">The Annual Member Reset Has Been Completed</h2>



<div>
    <a asp-action="Index" class="btn btn-primary col-md-offset-2">Member List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
