@model SAC_Web_Application.Models.GroupEmailModel.GroupEmailViewModel

@{
    ViewData["Title"] = "GroupEmail";
}

<h2>GroupEmail</h2>

<form asp-controller="GroupEmail" asp-action="SendGroupEmail" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-success"></div>
        <div class="form-group">
            <label asp-for="EmailTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
            @Html.DropDownList("EmailTo", new List<SelectListItem>
            {
                new SelectListItem {Text = "All Members", Value = "All Members" },
                new SelectListItem {Text = "Junior", Value = "Junior" },
                new SelectListItem {Text = "Senior", Value = "Senior" },
                new SelectListItem {Text = "Master", Value = "Master" }
            }/*, new { @class = "form-control" }*/)
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="EmailTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailTitle" class="form-control" />
                <span asp-validation-for="EmailTitle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="EmailContent" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="EmailContent" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="EmailTo" type="hidden" class="form-control" />
                <span asp-validation-for="EmailTo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <input id="btnSend" type="submit" value="Send" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}