@{
    ViewData["Title"] = "Payment Complete";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>
<h2>@ViewData["Message2"]</h2>
@*<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >*@
<form asp-action="SubscriptionSuccessfull">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="tx" value="TransactionID">
    <input type="hidden" name="auth_amount" />
    <input type="hidden" name="at" value="HkBMRugkvz7GxtSvl8yBciTkB-vsZ8zeghQlsO4b7zGM_UOt18-UIMU-_yq">
    <input type="hidden" value="PDT">
</form>

<p>
    Thank you for your Payment it has been completed,
</p>
<p>
    You will shortly receive an email from Paypal with your receipt
</p>

<p>Click here to go home</p><td><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></td>