@model SAC_Web_Application.Models.ClubModel.Members

@{
    ViewData["Title"] = "GroupEmailSuccess";
}

<h2 class="text-success col-md-offset-3">SMS Sent Successfully</h2>

<form asp-action="GroupEmailSuccess">
    <div class="form-group">
        <div class="form-group">
            <a asp-controller="Home" asp-action="Admin" class="btn btn-primary col-md-offset-3" style="width:115px">Back to Admin</a>
        </div>
        <div class="form-group">
            <a asp-controller="GroupSMS" asp-action="GroupSMS" class="btn btn-primary col-md-offset-3" style="width:115px">Back to SMS</a>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
